/* @link https://utopia.fyi/type/calculator?c=360,15,1.125,1280,20,1.125,3,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --fs-1: clamp(0.8333rem, 0.7246rem + 0.4831vw, 1.1111rem);
  --fs0: clamp(0.9375rem, 0.8152rem + 0.5435vw, 1.25rem);
  --fs1: clamp(1.0547rem, 0.9171rem + 0.6114vw, 1.4063rem);
  --fs2: clamp(1.1865rem, 1.0318rem + 0.6878vw, 1.582rem);
  --fs3: clamp(1.3348rem, 1.1607rem + 0.7738vw, 1.7798rem);
}

/* Stylesheet uses Level 3 Media Queries. Level 4 coverage still spotty. */
body {
    margin-top: 0;
    margin-bottom: 0;
    background: #fff;
}

/* Image becomes no larger than actual size */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

.rounded {
    border-radius: 12px;
}

/* Baseline for links, needed for nav links */
a {
    text-decoration: none;
    color: #121212;
}

/* Makes links blue */
.blue {
    text-decoration: underline;
    color: #0468BF; /* blue */
}

.blue:hover {
    text-decoration: none;
}

#container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Header and its elements */
header {
    width: 95%;
    margin: 0;
    padding: 0 2.5%;
    position: relative;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header::before {
    content: "";
    position: absolute;
    inset: 0 calc((100vw - 100%) / -2);
    background: #f4f4f1; /* warm brown */
    border-bottom: 1px solid #e6e6e3; /* #e6e6e3 */
    z-index: -1;
}

figure.menu-icon {
    width: 32px;
    margin: 0;
    padding: 0;
    flex: initial;
}

figure.menu-icon:hover {
    cursor: pointer;
}

/* Pop-up menu */
nav {
    width: 18em; /* 288px */
    max-height: 80vh;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/* "Frosts" window when menu opens */
.overlay {
    width: 100vw;
    height: 100vh;
    background: #fff;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Container for main content, all pages */
main {
    width: 95%;
    /* margin: 2em 2.5%; */
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

@media (min-width: 300px) and (max-width: 599px) {
    main {
        margin: 1em 2.5%;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    main {
        margin: 1.5em 2.5%;
    }
}

@media (min-width: 900px) {
    main {
        margin: 2em 2.5%;
    }
}

/* Headings for main content, all pages */
hgroup {
    width: 100%;
    margin: 1em 0;
    padding: 0;
    flex: initial;
}

/* Thumbnails on homepage */
.projects {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
    display: grid;
    grid-auto-rows: auto;
}

.project-card-first {
    margin: 0; /* Longhand 0 0 2em 0 */
    padding: 1em 5%;
    background: #f4f4f1; /* warm brown */
    border-radius: 12px;
    flex: initial;
}

.project-card {
    margin: 0; /* Longhand 0 0 2em 0 */
    padding: 0;
    background: #f4f4f1; /* warm brown */
    border-radius: 12px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

@media (min-width: 300px) and (max-width: 399px) {
    .projects {
        grid-template-columns: 1fr;
        row-gap: 1em;
    }
}

@media (min-width: 400px) and (max-width: 599px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1em;
        row-gap: 1em;
    }

    .project-card-first {
        grid-column-start: 1;
        grid-column-end: 3;
        /*grid-row-start: 1;
        grid-row-end: 3;*/
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    .projects {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1.5em;
        row-gap: 1.5em;
    }

    .project-card-first {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

@media (min-width: 900px) {
    .projects {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2em;
        row-gap: 2em;
    }

    .project-card-first {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

figure.project-image {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
}

/* Container for "project" pages */
.intro {
    width: 95%;
    margin: 0 2.5%;
    padding: 0;
    border-bottom: 1px solid #e6e6e3; /* #e6e6e3 */
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

/* Primary content, left side on larger screens */
.intro-card {
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

figure.intro-image {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
}

.intro-text {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
}

/* Supporting sidebar content, right side on larger screens */
.intro-sidebar {
    margin: 0;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.intro-sidebar-card {
    width: 100%;
    margin: 0 0 2em;
    padding: 1em 0;
    background: #f4f4f1; /* warm brown */
    border-radius: 12px;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.intro-sidebar-text {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    flex: initial;
}

figure.intro-sidebar-image {
    /* width: 25%; */
    margin: 0;
    padding: 0;
    flex: initial;
}

/* Media queries for primary content and supporting sidebar */
@media (min-width: 300px) and (max-width: 799px) {
    .intro-card {
        width: 100%;
        margin: 0 0 2em;
        padding: 0 0 1em;
        border-bottom: 1px solid #e6e6e3; /* #e6e6e3 */
    }

    .intro-sidebar {
        width: 100%;
    }

    figure.intro-sidebar-image {
        width: 15%;
    }
}

@media (min-width: 800px)  {
    .intro-card {
        width: 55%;
        padding: 0 2.5% 1em 0;
        border-right: 1px solid #e6e6e3; /* #e6e6e3 */
    }

    .intro-sidebar {
        width: 40%;
    }

    figure.intro-sidebar-image {
        width: 25%;
    }
}

.wireframes {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

figure.wireframe {
    margin: 0 0 2em; /* Longhand 0 0 2em 0 */
    padding: 0;
    border: 1px solid #dfe3e7; /* N-90 */
    border-radius: 12px;
    flex: initial;
}

@media (min-width: 300px) and (max-width: 599px) {
    figure.wireframe {
        width: 100%;
    }
}

@media (min-width: 600px) {
    figure.wireframe {
        width: 47.5%;
    }
}

/* Currently not used */
figure.flow-chart {
    width: 100%;
    margin: 0 0 2em; /* Longhand 0 0 2em 0 */
    padding: 0;
    border: 2px solid #c1c7ce; /* NV-80 */
    border-radius: 6px;
    box-shadow: 2px 2px 4px 1px #dfe3e7; /* N-90 */
    flex: initial;
}

footer {
    width: 95%;
    margin: 0; /* Longhand 2em 0 0 0 */
    padding: 1em 2.5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer::before {
    content: "";
    position: absolute;
    background: #f4f4f1;
    border-top: 1px solid #e6e6e3;
    inset: 0 calc((100vw - 100%) / -2);
    z-index: -1;
}

button {
    width: 100px;
    margin: 0 20px;
    background: #d92b2b; /* red */
    border: none;
    border-radius: 16px;
    color: #fff;
    font-size: var(--fs0);
    line-height: 1.8;
    box-shadow: 2px 2px 4px 1px #e6e6e3;
}

button a {
    color: #fff;
}

button:hover {
    text-decoration: underline;
}

/* For "not found" or "404" page */
.error-text {
    width: 90%;
    margin: 2em 2.5% 0; /* Longhand 2em 2.5% 0 2.5% */
    padding: 0 2.5%;
    background: #eaeef2; /* N-94 */
    border-radius: 6px;
    flex: initial;
}

/* Fonts from Google */
.noto-sans {
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Font weights */
.four {
    font-weight: 400;
}

.five {
    font-weight: 500;
}

.seven {
    font-weight: 700;
}

.eight {
    font-weight: 800;
}

/* Font style */
.italic {
    font-style: italic;
}

/* Headings, H-tags */
h1 {
    font-size: var(--fs2);
    line-height: 1.5;
    display: inline-flex; /* Keeps hyperlink to only text */
    color: #d92b2b; /* red */
}

h2 {
    width: 100%;
    font-size: var(--fs3);
    line-height: 1.5;
    margin-bottom: 0.25em;
    color: #121212;
}

h3 {
    font-size: var(--fs1);
    line-height: 1.4;
    margin-top: 0;
    color: #121212;
}

h4 {
    font-size: var(--fs0);
    line-height: 1.4;
    color: #121212;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

/* P-tag */
p {
    font-size: var(--fs0);
    line-height: 1.8;
    color: #121212;
}

p a {
    text-decoration: underline;
    color: #121212;
}

/* FIGCAPTIONS AND RELATED */
figcaption {
    font-size: var(--fs-1);
    line-height: 1.5;
    color: #545454;
}

.fig-heading {
    font-size: var(--fs0);
    line-height: 1.2;
    color: #121212;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    display: block;
}

/* For figcaption in project cards, homepage */
.project-card-caption {
    padding: 1em 5%;
    text-align: left;
}

/* For figcaption in intro cards, project pages */
.intro-card-caption {
    padding: 0.5em 0;
    text-align: left;
}

/* For figcaption in wireframes, project pages */
.wire-caption {
    padding: 1em 5%;
    text-align: left;
}

/* Lists */
dl {
    margin: 0.5em 0;
    padding: 0;
}

dt {
    font-size: var(--fs0);
    line-height: 1.8;
    color: #121212;
}

dd {
    font-size: var(--fs0);
    line-height: 1.6;
    margin-left: 0;
    color: #121212;
}

/* Font items within nav (aka menu) */
.menu-item {
    width: 80%;
    margin: 0;
    padding: 0 10%;
    font-size: var(--fs0);
    line-height: 2.5;
    display: inline-flex;
    text-align: center;
}

.menu-item:hover {
    background: #e6e6e3;
}

/* Router links */
nav .router-link-exact-active {
    text-decoration: none;
    color: #121212;
}

nav .router-link-active {
    width: 100%;
    background: #ccccca;
    text-decoration: none;
}