/* Stylesheet uses Level 3 Media Queries. Level 4 coverage still spotty. */
body {
    margin-top: 0;
    margin-bottom: 0;
    background: #f7f9ff; /* N-98 */
}

/* Image becomes no larger than actual size. */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

.rounded {
    border-radius: 6px;
}

#container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding:  0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

header {
    width: 95%;
    margin: 0;
    padding: 0 2.5%;
    background: #2c3134;  /* N-20 */
    border-bottom: 2px solid #000; /* Scrim */
    position: relative;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header::before {
    content: "";
    position: absolute;
    inset: -2px calc((100vw - 100%) / -2);
    background: #2c3134;  /* N-20 */
    border-bottom: 2px solid #000; /* Scrim */
    z-index: -1;
}

figure.menu-icon {
    width: 32px;
    margin: 0;
    padding: 0;
    flex: initial;
}

figure.menu-icon:hover {
    cursor: pointer;
}

nav {
    width: 15em;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 2.5%;
    top: 60px;
    z-index: 1;
    background: #f0f4f8; /* N-96 */
}

.intro {
    width: 90%;
    margin: 2em 2.5%;
    padding: 0 2.5%;
    background: #d9e2ff; /* S-90 */
    border-radius: 6px;
    box-shadow: 2px 2px 4px 1px #dfe3e7; /* N-90 */
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

figure.avatar {
    /* width: 25%; */
    max-width: 220px;
    margin: 0;
    padding: 1em 0;
    flex: initial;
}

.intro-text {
    /* width: 35%; */
    margin: 0;
    padding: 0 2.5%;
    border: 2px solid #001944; /* S-10 */
    border-radius: 6px;
    text-align: center;
    flex: initial;
}

@media (min-width: 300px) and (max-width: 399px) {
    .intro {
        justify-content: center;
    }

    figure.avatar {
        width: 55%;
    }

    .intro-text {
        width: 85%;
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    .intro {
        justify-content: center;
    }

    figure.avatar {
        width: 44%;
    }

    .intro-text {
        width: 85%;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    .intro {
        justify-content: center;
    }

    figure.avatar {
        width: 36%;
    }

    .intro-text {
        width: 85%;
    }
}

@media (min-width: 600px) {
    .intro {
        justify-content: space-between;
    }

    figure.avatar {
        width: 25%;
    }

    .intro-text {
        width: 35%;
    }
}

main {
    width: 90%;
    margin: 0 2.5%;
    padding: 0 2.5%;
    background: #eaeef2;  /* N-94 */
    border-radius: 6px;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.heading {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.split-text {
    width: 100%;
    margin: 0;
    padding:0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.limit-text {
    width: 100%;
    max-width: 700px;
    margin: 0;
    padding:0;
    flex: initial;
}

/* These are the thumbnails on homepage */
.projects {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
}

figure.project {
    max-width: 220px;
    margin: 0 0 2em; /* Longhand 0 0 2em 0 */
    padding: 0;
    flex: initial;
}

@media (min-width: 300px) and (max-width: 399px) {
    .projects {
        place-content: flex-start center; /* align-content + justify-content */
    }

    figure.project {
        width: 68%; 
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    .projects {
        place-content: stretch space-evenly; /* align-content + justify-content */
    }

    figure.project {
        width: 45%;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    .projects {
        place-content: stretch space-evenly; /* align-content + justify-content */
    }

    figure.project {
        width: 44%;
    }
}

@media (min-width: 600px) and (max-width: 699px) {
    .projects {
        place-content: stretch space-evenly; /* align-content + justify-content */
    }

    figure.project {
        width: 36%; 
    }
}

@media (min-width: 700px) and (max-width: 799px) {
    .projects {
        place-content: stretch space-between; /* align-content + justify-content */
    }

    figure.project {
        width: 31%;
    }
}

@media (min-width: 800px) and (max-width: 899px) {
    .projects {
        place-content: stretch space-between; /* align-content + justify-content */
    }

    figure.project {
        width: 27%; 
    }
}

@media (min-width: 900px) and (max-width: 999px) {
    .projects {
        place-content: stretch space-between; /* align-content + justify-content */
    }

    .projects::after {
        content: "";
        min-width: 49.4%;
    }

    figure.project {
        width: 24%; 
    }
}

@media (min-width: 1000px) and (max-width: 1099px) {
    .projects {
        place-content: stretch space-between; /* align-content + justify-content */
    }

    .projects::after {
        content: "";
        min-width: 48%;
    }

    figure.project {
        width: 22%;
    }
}

@media (min-width: 1100px) and (max-width: 1199px) {
    .projects {
        place-content: stretch space-between; /* align-content + justify-content */
    }

    figure.project {
        width: 18%; 
    }
}

@media (min-width: 1200px) {
    .projects {
        place-content: stretch space-between; /* align-content + justify-content */
    }

    figure.project {
        width: 17%;
    }
}

/* Pages for wireframes */
.summary {
    /* width: 90%; */
    margin: 2em 2.5%;
    padding: 0 2.5%;
    border-radius: 6px;
    background: #d9e2ff; /* S-90 */
    box-shadow: 2px 2px 4px 1px #dfe3e7; /* N-90 */
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.summary-text {
    /* width: 60%; */
    margin: 0;
    padding: 0;
    flex: initial;
}

.links {
    /* width: 20%; */
    margin: 0;
    padding: 0;
    background: #f0f4f8; /* N-96 */
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 2px 2px 4px 1px #afc6ff; /*  S-80 */
}

@media (min-width: 300px) and (max-width: 399px) {
    .summary-text {
        width: 100%;
    }

    .links {
        width: 100%;
        margin-bottom: 1.5em;
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    .summary-text {
        width: 100%;
    }

    .links {
        width: 70%;
        margin-bottom: 1.5em;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    .summary-text {
        width: 100%;
    }

    .links {
        width: 55%;
        margin-bottom: 1.5em;
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    .summary-text {
        width: 100%;
    }

    .links {
        width: 45%;
        margin-bottom: 1.5em;
    }
}

@media (min-width: 800px) and (max-width: 899px) {
    .summary-text {
        width: 60%;
    }

    .links {
        width: 35%;
    }
}

@media (min-width: 900px) and (max-width: 1099px) {
    .summary-text {
        width: 60%;
    }

    .links {
        width: 30%;
    }
}

@media (min-width: 1100px) and (max-width: 1279px) {
    .summary-text {
        width: 60%;
    }

    .links {
        width: 25%;
    }
}

@media (min-width: 1280px) {
    .summary-text {
        width: 60%;
    }

    .links {
        width: 20%;
    }
}

.link {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    border-bottom: 1px solid #465d91; /* S-40 */
    flex: initial;
}

.link:hover {
    background: #e4e9ec; /* N-92 */
    cursor: pointer;
}

.wireframes {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

figure.wireframe {
    /* width: 47.5%; */
    margin: 0 0 2em; /* Longhand 0 0 2em 0 */
    padding: 0;
    border: 2px solid #c1c7ce; /* NV-80 */
    border-radius: 6px;
    box-shadow: 2px 2px 4px 1px #dfe3e7; /* N-90 */
    flex: initial;
}

@media (min-width: 300px) and (max-width: 599px) {
    figure.wireframe {
        width: 100%;
    }
}

@media (min-width: 600px) {
    figure.wireframe {
        width: 47.5%;
    }
}

figure.flow-chart {
    width: 100%;
    margin: 0 0 2em; /* Longhand 0 0 2em 0 */
    padding: 0;
    border: 2px solid #c1c7ce; /* NV-80 */
    border-radius: 6px;
    box-shadow: 2px 2px 4px 1px #dfe3e7; /* N-90 */
    flex: initial;
}

footer {
    width: 95%;
    margin: 2em 0 0; /* Longhand 2em 0 0 0 */
    padding: 1em 2.5%;
    background: #d6dbde;  /* N-87 */
    border-top: 2px solid #c1c7ce; /* NV-80 */
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

footer::before {
    content: "";
    position: absolute;
    inset: -2px calc((100vw - 100%) / -2);
    background: #d6dbde;  /* N-87 */
    border-top: 2px solid #c1c7ce; /* NV-80 */
    z-index: -1;
}

figure.git-icon {
    width: 25%;
    max-width: 80px;
    margin: 0;
    padding: 0;
    flex: initial;
}

.error-text {
    width: 90%;
    margin: 2em 2.5% 0; /* Longhand 2em 2.5% 0 2.5% */
    padding: 0 2.5%;
    background: #eaeef2;  /* N-94 */
    border-radius: 6px;
    flex: initial;
}

.footer-text {
    width: 65%;
    margin: 0;
    padding: 0 5%;
}

/* FONTS */
h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.25em; /* 20px */
    line-height: 1.5;
    font-weight: 600;
    color: #edf1f5; /* N-95 */
    display: inline-flex; /* Keeps hyerlink to only text */
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.375em; /* 22px */
    line-height: 1.5;
    font-weight: 600;
    color: #181c20; /* N-10 */
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em; /* 16px */
    line-height: 1.8;
    font-weight: 400;
    color: #181c20; /* N-10 */
}

p a {
    color: #181c20; /* N-10 */
    text-decoration: underline;
}

.magenta {
    color: #001944; /* S-10 */
}

figcaption {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9375em; /* 15px */
    line-height: 1.5;
    font-weight: 400;
    color: #41474d; /* NV-30 */
    text-align: center;
}

figcaption a {
    color: #41474d; /* NV-30 */
}

/* For figcaption on wireframes */
.wire-caption {
    padding: 2.5% 1em;
    text-align: left;
}

dl {
    margin: 0.5em 0;
    padding: 0;
}

dt {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em; /* 16px */
    line-height: 1.5;
    font-weight: 400;
    color: #465d91; /* S-40 */
}

dd {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.875em; /* 14px */
    line-height: 1.4;
    font-weight: 400;
    margin-left: 0;
    color: #465d91; /* S-40 */
}

.nav-item {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em; /* 16px */
    line-height: 2.5;
    font-weight: 500;
    color: #181c20; /* N-10 */
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: inline-flex;
    width: 12em;
}

.nav-item:hover {
    background: #dfe3e7; /* N-90 */
}

.nav-item a {
    color: #181c20; /* N-10 */
}

/* Router links */
.router-link-exact-active, a {
    text-decoration: none;
}

.router-link-active, .router-link-active:hover {
    background: #2c3134; /* N-20 */
    color: #edf1f5; /* N-95 */
    text-decoration: none;
}