/* Stylesheet uses Level 3 Media Queries. Level 4 coverage still spotty. */
body {
    margin-top: 0;
    margin-bottom: 0;
    background: #f6fafe; /* N-98 */
}

/* Image becomes no larger than actual size */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

.rounded {
    border-radius: 6px;
}

#container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Header and its elements */
header {
    width: 95%;
    margin: 0;
    padding: 0 2.5%;
    background: #d9e2ff; /* S-90 */
    border-bottom: 2px solid #afc6ff;  /* S-80 */
    position: relative;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header::before {
    content: "";
    position: absolute;
    inset: -2px calc((100vw - 100%) / -2);
    background: #d9e2ff; /* S-90 */
    border-bottom: 2px solid #afc6ff;  /* S-80 */
    z-index: -1;
}

figure.menu-icon {
    width: 32px;
    margin: 0;
    padding: 0;
    flex: initial;
}

figure.menu-icon:hover {
    cursor: pointer;
}

/* Pop-up menu */
nav {
    width: 15em;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 2.5%;
    top: 60px;
    z-index: 1;
    background: #f0f4f8; /* N-96 */
}

/* Homepage elements: intro and thumbnails */
.intro {
    width: 90%;
    margin: 2em 2.5%;
    padding: 0 2.5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

figure.intro-image {
    margin: 0;
    padding: 1em 0;
    flex: initial;
}

.intro-text {
    margin: 0;
    padding: 0 2.5%;
    border-radius: 6px;
    flex: initial;
}

@media (min-width: 300px) and (max-width: 399px) {
    .intro {
        justify-content: center;
    }

    figure.intro-image {
        width: 55%;
    }

    .intro-text {
        width: 85%;
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    .intro {
        justify-content: center;
    }

    figure.intro-image {
        width: 44%;
    }

    .intro-text {
        width: 85%;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    .intro {
        justify-content: center;
    }

    figure.intro-image {
        width: 36%;
    }

    .intro-text {
        width: 85%;
    }
}

@media (min-width: 600px) {
    .intro {
        justify-content: space-between;
    }

    figure.intro-image {
        width: 25%;
    }

    .intro-text {
        width: 35%;
    }
}

/* Container for main content, all pages */
main {
    width: 95%;
    margin: 0 2.5%;
    padding: 0;
    border-top: 2px solid #eaeef2;  /* N-94 */
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

main::before {
    content: "";
    position: absolute;
    inset: -2px calc((100vw - 100%) / -2);
    border-top: 2px solid #eaeef2;  /* N-94 */
    z-index: -1;
}

/* Headings for main content, all pages */
.heading {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Thumbnails on homepage */
.projects {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
}

.project-card {
    margin: 0 0 2em; /* Longhand 0 0 2em 0 */
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

figure.project-image {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
}

@media (min-width: 300px) and (max-width: 399px) {
    .projects {
        place-content: flex-start center; /* align-content + justify-content */
    }

    .project-card {
        width: 70%;
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    .projects {
        place-content: stretch space-between; /* align-content + justify-content */
    }

    .project-card {
        width: 47%;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    .projects {
        place-content: stretch space-between; /* align-content + justify-content */
    }

    .project-card {
        width: 43%;
    }
}

@media (min-width: 600px) and (max-width: 699px) {
    .projects {
        place-content: stretch space-evenly /* align-content + justify-content */
    }

    .project-card {
        width: 41%;
    }
}

@media (min-width: 700px) and (max-width: 799px) {
    .projects {
        place-content: stretch space-between; /* align-content + justify-content */
    }

    .project-card {
        width: 31%;
    }
}

@media (min-width: 800px) and (max-width: 999px) {
    .projects {
        place-content: stretch space-between; /* align-content + justify-content */
    }

    .project-card {
        width: 29%;
        padding: 0;
    }
}

@media (min-width: 1000px) and (max-width: 1199px) {
    .projects {
        place-content: stretch space-between; /* align-content + justify-content */
    }

    .project-card {
        width: 23%;
    }

    .projects::after {
        content: "";
        min-width: 48.6%;
    }
}

@media (min-width: 1200px) {
    .projects {
        place-content: stretch space-between; /* align-content + justify-content */
    }

    .project-card {
        width: 22%;
    }

    .projects::after {
        content: "";
        min-width: 48%;
    }
}

/* Container for "project" pagea */
.summary {
    width: 100%;
    margin: 2em 0;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

/* Primary content, left side on larger screens */
.summary-card {
    margin: 0 2.5%;
    padding: 0%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.summary-text {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
}

figure.summary-image {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
}

/* Supporting sidebar content, right side on larger screens */
.summary-supporting {
    /* margin: 0 2.5%; */
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.summary-supporting-card {
    width: 100%;
    margin: 1em 0;
    padding: 0;
    background: #eaeef2; /* N-94 */
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.summary-supporting-card:hover {
    cursor: pointer;
}

.summary-supporting-card:last-child:hover {
    cursor: auto;
}

figure.summary-supporting-image {
    /* width: 25%; */
    margin: 0;
    padding: 0;
    flex: initial;
}

.summary-supporting-text {
    width: 65%;
    margin: 0;
    padding: 0 5%;
    flex: initial;
}

/* Media queries for primary content and supporting sidebar */
@media (min-width: 300px) and (max-width: 799px) {
    .summary-card {
        width: 90%; /* add 5% for margins = 100% */
    }

    .summary-supporting {
        width: 90%;  /* add 5% for margins = 100% */
        margin: 0 2.5%;
    }

    figure.summary-supporting-image {
        width: 15%;
    }
}

@media (min-width: 800px)  {
    .summary-card {
        width: 50%; /* add 5% for margins = 55% */
    }

    .summary-supporting {
        width: 35%;  /* add 5% for margins = 40% */
        margin: 8em 2.5% 0; /* Longhand 8em 2.5% 0 2.5% */
    }

    figure.summary-supporting-image {
        width: 25%;
    }
}

.wireframes {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

figure.wireframe {
    margin: 0 0 2em; /* Longhand 0 0 2em 0 */
    padding: 0;
    border: 2px solid #c1c7ce; /* NV-80 */
    border-radius: 6px;
    box-shadow: 2px 2px 4px 1px #dfe3e7; /* N-90 */
    flex: initial;
}

@media (min-width: 300px) and (max-width: 599px) {
    figure.wireframe {
        width: 100%;
    }
}

@media (min-width: 600px) {
    figure.wireframe {
        width: 47.5%;
    }
}

/* Currently not used */
figure.flow-chart {
    width: 100%;
    margin: 0 0 2em; /* Longhand 0 0 2em 0 */
    padding: 0;
    border: 2px solid #c1c7ce; /* NV-80 */
    border-radius: 6px;
    box-shadow: 2px 2px 4px 1px #dfe3e7; /* N-90 */
    flex: initial;
}

footer {
    width: 95%;
    margin: 2em 0 0; /* Longhand 2em 0 0 0 */
    padding: 1em 2.5%;
    background: #d9e2ff; /* S-90 */
    border-top: 2px solid #afc6ff;  /* S-80 */
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer::before {
    content: "";
    position: absolute;
    inset: -2px calc((100vw - 100%) / -2);
    border-top: 2px solid #afc6ff; /* S-80 */
    background: #d9e2ff; /* S-90 */
    z-index: -1;
}

button {
    width: 100px;
    margin: 0 20px;
    background: transparent;
    border: 1px solid #001944; /* S-10 */
    border-radius: 12px;
    color: #001944; /* S-10 */
    font-size: 1em; /* 16px */
    line-height: 1.6;
}

button a {
    color: #001944 /* S-10 */
}

button:hover {
    background: #afc6ff; /* S-80 */
}

/* For "not found" or "404" page */
.error-text {
    width: 90%;
    margin: 2em 2.5% 0; /* Longhand 2em 2.5% 0 2.5% */
    padding: 0 2.5%;
    background: #eaeef2; /* N-94 */
    border-radius: 6px;
    flex: initial;
}

/* Fonts from Google */
.bevan-regular {
    font-family: Bevan, serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-serif-four {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "GRAD" 0;
}

.roboto-serif-five {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "GRAD" 0;
}

.roboto-serif-seven {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "GRAD" 0;
}

/* Headings, H-tags */
h1 {
    font-size: 1.25em; /* 20px */
    line-height: 1.5;
    display: inline-flex; /* Keeps hyperlink to only text */
    color: #001944; /* S-10 */
}

h2 {
    width: 100%;
    font-size: 1.5em; /* 24px */
    line-height: 1.5;
    margin-bottom: 0.25em;
    color: #171c1f; /* N-10 */
}

h3 {
    font-size: 1.2em; /* 16px */
    line-height: 1.4;
    margin-top: 0;
    color: #171c1f; /* N-10 */
}

h4 {
    font-size: 1.125em; /* 18px */
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0;
    color: #171c1f; /* N-10 */
}

/* P-tag */
p {
    font-size: 1em; /* 16px */
    line-height: 1.8;
    color: #171c1f; /* N-10 */
}

p a {
    color: #171c1f; /* N-10 */
    text-decoration: underline;
}

/* FIGCAPTIONS AND RELATED */
figcaption {
    font-size: 0.9375em; /* 15px */
    line-height: 1.5;
    color: #41474d; /* NV-30 */
}

/* For figcaption on projects */
.project-caption {
    padding: 0.5em 0;
    text-align: left;
}

/* For figcaption on wireframes */
.wire-caption {
    padding: 1em 2.5%;
    text-align: left;
}

/* Lists */
dl {
    margin: 0.5em 0;
    padding: 0;
}

dt {
    font-size: 1em; /* 16px */
    line-height: 1.8;
    color: #171c1f; /* N-10 */
}

dd {
    font-size: 1em; /* 16px */
    line-height: 1.6;
    margin-left: 0;
    color: #171c1f; /* N-10 */
}

ul {
    padding-left: 0;
    list-style-position: inside;
}

li {
    font-size: 1em; /* 16px */
    line-height: 1.8;
    color: #171c1f; /* N-10 */
}

/* Font items within nav (aka menu) */
.menu-item {
    font-size: 1em; /* 16px */
    line-height: 2.5;
    color: #171c1f; /* N-10 */
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: inline-flex;
    width: 12em;
}

.menu-item:hover {
    background: #dfe3e7; /* N-90 */
}

.menu-item a {
    color: #171c1f; /* N-10 */
}

span.greeting-msg {
    font-size: 1.25em; /* 20px */
    line-height: 1.44; /* keeps line height same as adjoining p tag */
}

/* Router links */
.router-link-exact-active, a {
    text-decoration: none;
    color: #171c1f; /* N-10 */
}

nav .router-link-active, nav .router-link-active:hover {
    background: #2c3134;  /* N-20 */
    color: #edf1f5; /* N-95 */
    text-decoration: none;
}